/***
0. obsah ---
	i. 		hlavička
	ii.		o společnosti
	iii.	studenti
	iv. 	firmy
	v.		o nás
	vi.		kontakt
	vii.	patička
***/

/* --- (0) OBSAH --- */
.wrap {
	padding: 1.5em;
}
/* - (i) HLAVIČKA - */
header {
	width: 100%;
	height: 80%;
	background-color: rgb(10, 10, 10);
}

.header-titles {
	position: absolute;
	top: 50%;
	margin: 0 auto;
	text-align: center;
	color: #CCC;
}

header h1 {
	margin-top: -165px;
	margin-bottom: 20px;
	font-size: 150px;
	text-transform: uppercase;
	font-family: 'Righteous', sans-serif;
}

header h2 {
	position: relative;
	z-index: 2;
	display: inline-block;
	width: auto;
	font-size: 25px;
	font-weight: 300;
	font-family: 'Comfortaa', sans-serif;
	border-top: 1px solid rgba(100, 100, 100, .8);
	padding: .5em 1em 0;
}

.hlavicka-btns {
	display: inline-block;
	position: absolute;
	bottom: 8%;
	left: 50%;
	width: auto;
	margin-left: -218px; /* vymyslet lepší alternativu, momentálně je nutnost měřit elementy pro vystředování */
}

.btn-studenti {
	padding: 25px 42px;
	font-size: 22px;
	background-color: #E82C0C;
}

.btn-firmy {
	padding: 25px 42px;
	font-size: 22px;
	background-color: #1B51B5;
}

#header-animation{
	position: absolute;
	z-index: 1;
	margin: 0 auto;
}

/* - (iio) O SPOLEČNOSTI - */
#uvod {
	padding: 2em 4em;
	background-color: white;
	font-size: 1.25em;
	width: 100%;
	margin: 2em 0;
	font-style: italic;
}

/* - (iio) O SPOLEČNOSTI - */
#o-prvni-sanci {

}

/* - (iv) STUDENTI - */
#studenti {

}

/* - (v) FIRMY - */
#firmy {

}

/* - (vi) O NÁS - */
#o-nas {

}

/* - (vii) KONTAKT - */
#kontakt-img {
	position: relative;
}
#kontakt {
	position: absolute;
	top: 0;
}
#kontakt fieldset {
	border-top: none;
}
#kontakt legend {
 	background-color: rgba(255,100,0,.7);
 	font-size: 1.3em;
 	font-weight: lighter;
 	color: white;
 	border-radius: 2px;
 	padding: .3em .5em;
 }
#kontakt input[type="text"], #kontakt textarea {
 	background: rgba(0,0,0,.3);
    border: 1px solid rgba(255,255,255,.2);
    color: #fff;
 }
#kontakt input[type="submit"] {
 	background: rgba(255,100,0,.4);
    border: 1px solid rgba(255,100,0,.8);
    border-radius: 2px;
 }
/*
#kontakt input:focus, #kontakt textarea:focus {
	outline: rgba(255,100,0,.3) solid 4px;
}
*/
#kontakt *::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#kontakt *::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#kontakt *:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#kontakt *:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}